:root {
    --main-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    --default-font: 'Roboto Slab', serif;
}

a {
    font-family: var(--default-font)
}

footer {
    margin: 30px;
}

footer .contact-request {
    margin-top: 4em;
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 8px;
}

footer .contact-request p {
    margin: 0 auto;
}

footer .social-links a {
    text-decoration: none;
    margin: 20px;
    color: var(--main-color);
    padding: 10px 16px;
    background-color: var(--secondary-color);
    font-size: 18px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

footer .social-links a:hover{
    color: white;
    background-color: var(--main-color);
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    font-family: var(--default-font)
}

h1 {
    font-size: 96px !important;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 48px;
    font-weight: bold;
    margin-top: 2em;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

h4 {
    font-size: 48px !important;
    font-family: var(--default-font);
}

img {
    vertical-align: middle;
}

p {
    text-align: left;
    font-size: 18px;
    font-family: var(--default-font)
}

.about-link {
    border-radius: 4px;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--main-color);
    box-shadow: var(--shadow);
    color: white;
}

.contact-request a {
    border-radius: 4px;
    padding: 15px 20px;
    text-decoration: none;
    background: var(--main-color);
    box-shadow: var(--shadow);
    color: white;
}

.about-paragraphs p {
    margin: 30px;
    text-align: center;
}

.about-section {
    margin: 15px 40px;
}

.about-section h1 {
    font-size: 64px;
    text-align: left;
}

.about-section h2 {
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}

.about-section h3 {
    color: black;
    opacity: 100%;
}

.about-section p {
    line-height: 30px;
    font-size: 16px;
    text-align: left;
}

.get-custom-bg {
    background-color: var(--secondary-color);
    padding: 100px 20px;
}

.go-bolder {
    font-weight: bolder;
}

.go-smaller {
    font-size: 60px !important;
}

.goto-1 {
    background: var(--main-color);
    box-shadow: var(--shadow);
    color: #fff;
}

.my-links {
    display: flex;
    justify-content: center;
}

.my-links a {
    margin: 20px;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
}

.email-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    color: black;
}

.email-link:hover {
    color: var(--main-color);
}

.navbar {
    background-color: var(--secondary-color) !important;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--main-color);
    box-shadow: var(--shadow);
    color: white;
}

.go-left {
    display: flex;
    text-align: start;
}

.go-left p {
    text-align: left;
}

@media (max-width: 900px) {
    h1 {
        font-size: 48px !important;
    }

    h2 {
        font-size: 32px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    p {
        text-align: center;
    }

    footer .email-link {
        font-size: 16px;
    }

    .about-section a {
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .about-section img {
        display: flex;
        justify-content: center;
        margin-top: 3em;
    }

    .about-section h1 {
        text-align: center;
    }

    .about-section h2 {
        text-align: center;
    }

    .about-section h3 {
        display: block;
        text-align: center;
    }

    .about-section p {
        font-size: 14px;
        text-align: center;
    }

    .add-margin {
        margin: 10px auto;
    }

    .get-custom-bg {
        padding: 50px 10px;
    }

    .primary-link {
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }

    .project-img {
        display: none;
    }


}
